# Environment variables
.env

# Go
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/.vscode/
backend/.idea/
backend/*.test
backend/*.out
backend/go.work
backend/go.work.sum

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/.idea/
frontend/*.iml
frontend/.metadata
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

